<!--
  Generated template for the ModalInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='{{item.color}}'>
    <ion-title *ngIf='item.header!="" '   >{{item.header}}</ion-title>
    <ion-title *ngIf='item.header=="" '   >Task</ion-title>
    <ion-buttons end>
        <button ion-button (click)='close()'>Close</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div text-center text-center *ngIf='item.date!=undefined'>
        <i>{{remaining}} days remaining.</i>
      </div>
    <p align="center"><img src="{{ item.icon }}"></p>
    <div text-center>
      <h5>Description:</h5>     
      <p>{{item.body}}</p>
    </div>
    <div text-center *ngIf='item.date!=undefined || item.hour!=undefined'>
      <h5 >Deadline:</h5>
      
      <p>{{item.date}} at {{item.hour}}</p>
    </div> 
    <div text-center>
      <h5>Priority:</h5>
      <p *ngIf='item.color==1'><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></p>
      <p *ngIf='item.color==2'><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></p>
      <p *ngIf='item.color==3'><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></p>
      <p *ngIf='item.color==4'><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></p>
      <p *ngIf='item.color==5'><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
    </div>
    
</ion-content>
