<ion-content padding>
  <div class="main-content" (swipe)="swipe($event)">
    <ion-card id='todoimg'>
      <img  src="img/todo.png"/>
    </ion-card>
    <div text-center *ngIf='taskarray.length==0'>You don't have remaining tasks. <br> Create one</div>
    <ion-grid>
      <ion-row *ngFor="let item of taskarray">
        <ion-col >
          <ion-card >
              <ion-row class='cardFooter'>
                  <ion-col text-center>
                      {{item['date']}}
                  </ion-col>
                  <ion-col text-center>
                      {{item['hour']}}
                  </ion-col>
                </ion-row>
            <ion-card-header>
                <ion-toolbar color='{{item.color}}' >
                  <i>{{item['header']}}</i>
                  <ion-buttons end>
                      <button ion-button small (click)='moveTask(item)'><ion-icon name="walk" color="dark"></ion-icon></button>
                      <button ion-button small (click)='editTask(item)'><ion-icon name="create" color="dark"></ion-icon></button>
                      <button ion-button small (click)='deleteTask(item)'><ion-icon name="close" color="dark"></ion-icon></button>
                  </ion-buttons> 
                </ion-toolbar>          
              </ion-card-header>
            <ion-card-content (click)="showInfo(item)">
                <ion-item *ngIf='item.icon != undefined' >
                    <p color='dark'> {{item['body']}} </p>
                    <ion-thumbnail item-end>
                        <img src="{{item.icon}}"/>
                    </ion-thumbnail>
                </ion-item>
                <ion-item *ngIf='item.icon == undefined' >
                  <p> {{item['body']}} </p>
                </ion-item>
              </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
      <div text-center>
        <button ion-button color="danger" (click) = "openModal()" outline>Create</button>
      </div>
    </ion-grid>
  </div>
</ion-content>
